body {
  font-family: sans-serif;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
}

ul {
  list-style: none;
  max-width: 300px; 
  margin: 0 auto;
  padding: 0;
}

ul li {
  padding: 0;
}